@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*:focus {
    outline: none;
}
*::-webkit-scrollbar {
    display: none;

}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.svgicon{
    transform: scale(0.75);
}
